<div>
    <div class="page-header">
        <h1>Articles</h1>
    </div>
    <div>
        <% @articles.each do |article| %>
    <div>
        <a href="/<%= article.id %>"><h2> <%= article.title %> </h2></a>
        <p> <%= article.body[0...100] %>...</p>
    </div>
    <% end %>
    <div> <%= will_paginate @posts %> </div>
    </div>
</div>